@charset "UTF-8";
@font-face {
    font-family: "Proxima Nova Thin";
    src: url("fonts/ProximaNovaThin/ProximaNovaT-Thin.eot");
    src: url("fonts/ProximaNovaThin/ProximaNovaT-Thin.eot#iefix") format("embedded-opentype"), url("fonts/ProximaNovaThin/ProximaNovaT-Thin.woff") format("woff"), url("fonts/ProximaNovaThin/ProximaNovaT-Thin.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('fonts/ProximaNova-Bold/ProximaNova-Bold.eot');
    src: url('fonts/ProximaNova-Bold/ProximaNova-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/ProximaNova-Bold/ProximaNova-Bold.woff') format('woff'),
    url('fonts/ProximaNova-Bold/ProximaNova-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

html {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #F8F8F8;
}

*, *::after, *::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}

body {
    margin: 0;
}

/*сбрасываем стили*/


li {
    list-style-type: none;
}

a {
    color: #F8F8F8;
    text-decoration: none; /* Убираем подчёркивание */

}

.header {
    background-color: #52aad2;
    color: #F8F8F8;
    font-family: "Proxima Nova Thin";
    font-size: 1vw;
    padding: 2vw 4vw;
}

.header__wrapper {
    display: flex;
    justify-content: space-between;
}

.header__info__text {
    text-transform: uppercase;
    font-family: "Proxima Nova Bold";
}

.header__logo img {
    height: 5vw;
}

.header__contact {
    display: flex;
    gap: 3vw;
}

.header__contact__wrapper {
    display: flex;
    flex-direction: column;
    font-size: 2vw;
    margin-bottom: auto;
    gap: 1.2vw;

}

.header__contact__number {
    font-size: 1.5vw;
    font-family: "Proxima Nova Bold";
}

.header__contact img {
    background-color: #F8F8F8;
    border-radius: 50%;
    height: 4vw;

}

.header__contact__callback:hover {
    background: linear-gradient(90deg, rgba(0, 174, 208, 0.4) 0%, rgba(0, 255, 247, 0.4) 42%, rgba(0, 255, 134, 0.4) 100%);
}

.header__contact__callback {
    border: #F8F8F8 1px solid;
    font-size: 1vw;
    text-align: center;
    padding: 0.5vw;
    font-weight: 700;
}

.nav {
    height: 3vw;
    background-color: #F8F8F8;
    position: sticky;
    top: 0;

}

.nav__wrapper {

    margin: 1vw 4vw;
}

.nav__wrapper__container {
    display: flex;
    justify-content: space-between;
}

.nav__wrapper__container a {
    color: dimgray;
    font-family: "Proxima Nova Bold";
    text-transform: uppercase;
    font-size: 1.2vw;
}

.nav__wrapper__container a:hover {
    border-bottom: 0.3vw solid #52aad2;
}

.main {
    background-image: url("img/banner.JPG");
    background-repeat: no-repeat;
    background-size: 100vw;
    height: 100%;

}

.main__banner {
    padding: 13% 20%;
}

.main__banner__wrapper {
    background: rgba(82, 170, 210, 0.57);
    color: #F8F8F8;
    text-align: center;
    padding: 0.5vw 1vw;
}

.main__banner__title {
    font-family: "Proxima Nova Bold";
    font-size: 2vw;
    text-shadow: -2px 3px 7px rgba(0, 0, 0, 0.72);
}

.main__banner__text {
    font-family: "Proxima Nova Bold";
    font-size: 1.5vw;
    text-shadow: -2px 3px 7px rgba(0, 0, 0, 0.72);
}

.main__card__wrapper {
    font-family: "Proxima Nova Thin";
    font-weight: bold;
    margin: 7vw 4vw 2vw;
}

.main__card__container {
    display: flex;
    padding: 0;
    flex-wrap: wrap;
    justify-content: space-between;
}

.main__card__container li {
    margin-bottom: 2vw;

}

.main__card__container li:hover {
    box-shadow: 0px 0px 30px 10px rgba(18, 17, 17, 0.47);
    transition: box-shadow 1s;
}

.main__card__container img {
    width: 20vw;
    height: 15vw;
}

.main__card__container__title {
    background-color: rgba(255, 226, 195, 0.42);
    text-align: center;
    color: dimgray;
    font-weight: 700;
    height: 5vw;
    padding-top: 1.5vw;
}

.main__card__container__title:hover {
    background: rgba(82, 170, 210, 0.30);
    transition: background-color 1s;

}

.main__about-us {
    font-family: "Proxima Nova Thin";
    margin: 2vw 4vw;
}

.main__about-us h2 {
    font-family: "Proxima Nova Bold";
    color: dimgray;
    font-size: 3vw;
    text-align: center;
}

.main__about-us__info p {
    padding: 2vw 2vw;
    border: 0.5vw solid rgba(82, 170, 210, 0.57);
}

.main__about-us__container {
    display: flex;
    gap: 10vw;
}

.main__about-us__container img {
    height: 25vw;
}

.main__about-us__container h3 {
    font-size: 2.5vw;
}

.main__about-us__for-home,
.main__about-us__for-business {
    width: 40vw;
}


.main__request {
    background-image: url("img/request/3.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    padding: 15vw 20vw;
    color: #000000;

}

.main__request__wrapper {
    background-color: rgba(255, 255, 255, 0.72);
}

.main__request__container {
    padding: 2vw;
}

.main__request__title {
    text-align: center;
    text-shadow: 4px 0px 5px rgb(255, 255, 255);
    margin-bottom: 2vw;
}

.main__request__title h2 {
    font-family: "Proxima Nova Bold";
    margin-top: 0;
}

.main__request__title span {
    font-family: "Proxima Nova Bold";
    font-weight: 300;
}

.main__request__input__btn {
    margin-right: auto;
    border: none;
    background-color: #52aad2;
    color: #F8F8F8;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.72);
    cursor: pointer;
    padding: 0.5vw 1vw;
    transition: transform 1s, background-color 1s;
    text-transform: uppercase;
    font-family: "Proxima Nova Bold";
    border-radius: 0.5vw;
}

.main__request__input__btn:hover {
    transform: scale(1.3);
    background-color: #16d7e0;
}

.main__request__input {
    display: flex;
    align-self: center;
    gap: 5vw;
    margin-bottom: 2vw;
}

.main__request__input input {
    margin-left: auto;
}

.main__request__persona {
    font-family: "Proxima Nova Thin";
    font-size: 0.7vw;
    font-weight: bold;
    font-style: italic;
}

.main__request__persona a {
    color: #027fa9;
}

input:focus {
    border: 0;
}

.main__quality {
    font-family: "Proxima Nova Thin";
    margin: 3vw 4vw;
    text-align: center;
}

.main__quality__container h2 {
    font-family: "Proxima Nova Bold";
    font-size: 3vw;
    text-align: center;
    color: dimgray;
}

.main__quality__container span {
    font-size: 1.5vw;
    font-weight: bold;
}

.main__quality__container ul {
    display: flex;
    gap: 2vw;
    padding: 0;
    flex-wrap: wrap;
    justify-content: center;
}

.main__quality__container li {
    display: flex;
    gap: 1vw;
    font-family: "Proxima Nova Thin";
    font-size: 1.2vw;
    border: 0.4vw rgba(82, 170, 210, 0.57) solid;
    border-radius: 1vw;
    text-align: start;
    height: 10vw;
    width: 30vw;
    padding: 1vw 2vw;
    transition: transform 1s;
}

.main__quality__container li:hover {
    transform: scale(1.1);
}

.main__yandex {
    display: flex;
}

.main__yandex__request__wrapper {
    display: flex;
    flex-direction: column;
}

.main__yandex {
    display: flex;
    font-family: "Proxima Nova Bold";
    margin: 4vw 4vw;
    gap: 2vw
}

.main__yandex__request__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2vw;
    text-align: center;
    color: dimgray;
}

.main__yandex__request__wrapper h2 {
    margin: 0;
    font-size: 3vw;
}

.main__yandex__request__wrapper input {
    padding: 15px 20px;
    border: 1px solid #009999;
    border-radius: 10px;
    font-size: 1.5vw;
    width: 40vw;
    margin-left: 5vw;
}

.main__yandex__request__btn {
    margin-right: auto;
    border: none;
    background-color: #52aad2;
    color: #F8F8F8;
    text-shadow: 0px 0px 7px rgba(0, 0, 0, 0.72);
    cursor: pointer;
    padding: 1vw 2vw;
    transition: transform 1s, background-color 1s;
    text-transform: uppercase;
    font-family: "Proxima Nova Bold";
    border-radius: 0.5vw;
    margin-left: auto;
    margin-right: auto;
    width: 30vw;
}

.main__yandex__request__btn:hover {
    background-color: #16d7e0;
}

.persona span {
    font-family: "Proxima Nova Thin";
    font-size: 1vw;
    margin: 0 2vw;
}

.persona a {
    color: #027fa9;
}

footer {
    background-color: rgb(87, 87, 87);
    font-family: "Proxima Nova Thin";
    color: #F8F8F8;
}

.footer ul {
    padding: 0;
}

.footer li {
    padding-bottom: 0.5vw;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    gap: 3vw;
    padding: 2vw 4vw;
}

.footer__info {
    font-size: 1vw;
}

.footer__info img {
    width: 15vw;
}

.footer h4 {
    font-size: 1.2vw;
    text-transform: uppercase;
    font-family: "Proxima Nova Bold";
    margin-top: 0;
    text-align: start;

}

.footer__contact {
    width: 13vw;
    display: flex;
    gap: 2vw;
    flex-direction: column;
}

.footer__contact__tel {
    font-family: "Proxima Nova Bold";
    font-size: 1.5vw;
    transition: transform 1s;
}

.footer__contact__tel:hover {
    transform: scale(1.2);
    color: #52aad2;
}

.footer__link li,
.footer__navigation li {
    transition: transform 0.5s;

}

.footer__link li:hover {
    transform: scale(1.1);

}

.footer__navigation li:hover {
    transform: scale(1.1);

}